{% extends 'base.html' %}
{% load static %}


{% block title %}

    All_Books

{% endblock %}

{% block content %}
<div class="container">
    
    <div class="row">
        {% for book in all_books%}
        <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
            <a href="{% url 'book_detail' book.slug %}">
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <img class="rounded img-fluid m-2" src="{{ book.cover_image.url }}" alt="">
                    </div>
                </div>
            </a>
        </div>
        {% endfor%}
    
    <a href="/book" class="btn btn-primary" style="margin: 20px;">Go back to home</a>
</div>
{% endblock %}