{% extends 'base.html' %}
{% load static %}

{% block title %}

    Registration Page

{% endblock %}

{% block content %}

<h3>Registration Page </h3>

<div class="container-fluid mt-3">
  <div class="row">
    <form method="POST">
      {%csrf_token%}
      <div class="mb-3 mt-3">
        <label for="email" class="form-label">Email:</label>
    <!-- <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"> -->
        {{registerForm.email}}
      </div>
       <div class="mb-3">
      <label for="pwd" class="form-label">Username:</label>
    <!-- <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd"> -->
        {{registerForm.username}}
      </div>
      <div class="mb-3">
      <label for="pwd" class="form-label">Password:</label>
    <!-- <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd"> -->
        {{registerForm.password1}}
      </div>

      <div class="mb-3">
        <label for="pwd" class="form-label">Password:</label>
    <!-- <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd"> -->
        {{registerForm.password2}}
      </div>
        {{registerForm.errors}}
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

{% endblock %}